---
layout: base
comments: true
permalink: /1000-razones/
---

							<!-- Content -->
								<section>
									<header class="main">
										<h1>LXII Coloquio de Sistemas Dinámicos</h1>
									</header>

									<!-- Content -->
										<div class="row">
											<div class="6u 12u$(small)">
												<h2 id="content">Celebración de los 60 años de Rafael Labarca</h2>
												<p>
												</p>
											</div>
											<div class="6u$ 12u$(small)">
												<h2 id="content">Celebración de los 60 años de Rafael Labarca</h2>
												<p>
												</p>
											</div>
										</div>

                    {% if page.comments %}
										<div class="row">
											<div class="12u 12u$(small)">
											{% include disqus.html %}
										  </div>
										</div>
										{% endif %}
