---
permalink: "/1000-razones/"
layout: base
comments: true
---

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Algunas razones por las cuáles  el lindo país esquina al mar no es aún desarrollado</h1>
									</header>

									<!-- Content -->
										<div class="row">
											<div class="6u 12u$(small)">
												<p>Allá. en mi querida Arica, empecé a asistir a la educación formal en una casa particular con una educadora que la llamábamos: Profesora Juanita. Asistía con mi hermana Cecilia y allí empezamos a leer y a hacer las operaciones básicas. Eso fue en 1962.</p>
												<p>Al año siguiente nos inscribieron en la Escuela Lincoyán N° 29, dónde hicimos la educación básica hasta sexto año.
												En ese período nos decían que eramos parte del tercer mundo, o del mundo subdesarrollado. 
												Luego, por ahí por finales de los sesenta  nos dijeron que eramos un país del tercer mundo pero en vías de desarrollo.
												Por los ochenta eramos los jaguares de América Latina, ascendimos al segundo mundo pero en vías en desarrollo.
												Para los noventa seguíamos entre el segundo y tercer mundo pero creciendo.
												Para el inicio de éste siglo seguíamos siendo en vías de desarrollo, los más desarrollados de Sudamérica y por ahí va.</p>
											</div>
											<div class="6u$ 12u$(small)">
												<p>Incluso algunos, en la segunda mitad del primer decenio de éste siglo:</p>

												<ul>
													<li>declararon que seríamos país desarrollado el año 2020. Por ejemplo, véase la famosa frase del entonces Ministro de Hacienda y posterior candidato a la Presidencia en http://www.diariocritico.com/noticia/38696/noticias/chile-sera-desarrollado-el-2020.html;</li>
													<li>Formaron una agrupación que llamaron educación veinte veinte y que, al menos al principio declaraba que este nombre significaba algo así: el año 2020 la calidad de la educación del 20% más pobre sera comparable a la calidad de la educación del 20% más rico</li> 
												</ul>
												<p>En fin, declaraciones demagógicas basadas en deseos y  sin mucho sustento real.</p>
											</div>
										</div>
											
										<hr class="major" />

										<div class="row">
											<div class="12u 12u$(small)">
												<p>Por mi experiencia,  entiendo que el desarrollo de un país, significa hartas cosas importantes que no se dan aún en nuestro país y que estimo, no se darán hasta, por lo menos, el año  2060. Para que así sea debemos ya empezar a cambiar muchas cosas.
												</p>
												<p>Entre esas cosas, y sólo por nombrar algunas:
												</p>
												<ul>
													<li>Que el lugar de habitación de dos  personas tenga un mínimo de 40 m2; agregando 20 m2 por cada persona adicional; que tenga agua potable, alcantarillado, luz,  gas, calefacción o aire acondicionado, internet, que dispongan de estacionamiento para un vehículo y espacio para recreación.</li>
													<li>Que las calles permitan el libre desplazamiento de vehículos de emergencia.</li>
													<li>Que las calles no tengan baches ni desniveles pronunciados.</li>
													<li>Que en cruces concurridos de calle haya semáforos o señalética adecuada.</li>
													<li>Que toda calle o pasaje tenga su nombre.</li>
													<li>Que toda calle tenga la respectiva señáletica para el cruce de peatones.</li>
													<li>Que las veredas para el tránsito del peatón no sean de tierra; que sean proporcional al tamaño de la calle y sin baches, desniveles ni nada que entorpezca el transito. Por ejemplo una vereda de 1,mt a cada lado para una calle de 6 mts.</li>
													<li>Que las personas conozcan el horario de transporte público en cada paradero.</li>
													<li>Que haya educación pública de calidad para la formación del ciudadano.</li>
													<li>Que las personas puedan formarse en las profesiones y oficios según sus capacidades y talentos.</li>
													<li>Que haya salud pública de calidad para el conjunto de la población.</li>
													<li>Que las personas tengan asegurado un procedimiento pos morte.</li>
													<li>Que las jubilaciones sean dignas.</li>
												</ul>
												<p>Entre muchas otras más.</p>
											</div>
										</div>

										<hr class="major" />								

										<div class="row">
											<div class="6u 12u$(small)">
												<p>Pero cómo resumen: un país en que los que menos tienen vivan bien y tengan acceso al progreso educacional, social, cultural, deportivo y económico que le permita sus capacidades, talento y trabajo.</p>
												<p>Por ejemplo: no es razonable que abuelos, hijos y nietos hayan sido parte del 25% de menor desarrollo, en su respectivo tiempo, todo ello trabajando y/o estudiando.</p>
											</div>

											<div class="6u$ 12u$(small)">
												<p>Por eso he colocado esta sección donde enunciaremos diversas razones concretas  que nos permitan señalar que no somos un país desarrollado. Esto, para mantenerlo como memoria para todos y cada uno de nosotros y para que nadie crea que la gente no sabe o no tiene idea de cómo vive y dónde vive. </p>
											</div>
										</div>

										<hr class="major" />	

										<div class="row">
											<div class="12u 12u$(small)">
												<p>Razones por las cuáles nuestro país es aún subdesarrollado:</p>

												<ul>
													<li>La atención pública de urgencia en salud (entiéndase: atención en  postas de urgencia).</li>
													<li>La educación del ciudadano para los sectores vulnerables( es de mala calidad).</li>
													<li>El tamaño de los pasajes en poblaciones de menores ingresos económicos( no permite desplazamientos de todo tipo de  vehículos de urgencia).</li>
													<li>Los baches en las ciudades (son muchos y se mantienen mucho tiempo).</li>
													<li>La falta de conectividad por autopistas en todas las componentes conexas de Chile.</li>
													<li>La atención en diversos servicios públicos y privados( lenta, poco amable, etc.).</li>
													<li>La situación en las cárceles del país (hacinamiento, poco trabajo para la integración social posterior, etc.).</li>
													<li>Las soluciones habitacionales del Gobierno( no es razonable 36 m2 por familia de cuatro integrantes).</li>
													<li>La poca amabilidad con personas mayores y enfermas en el transporte público.
												</ul>
												<p>Invito a quienes lean a darnos más razones fundadas para seguir agregando a la lista...</p>
											</div>
										</div>


										{% if page.comments %}
										<div class="row">
											<div class="12u 12u$(small)">
											{% include disqus.html %}
										  </div>
										</div>
										{% endif %}
								</section>