
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Inicio</a></li>
										<li><a href="/trayectoria/">Trayectoria</a></li>
										<li><a href="">Noticias</a></li>
										<li><a href="">Actividades</a></li>
										<li><a href="">Publicaciones</a></li>
										<li><a href="/contacto/">Contacto</a></li>
									</ul>
								</nav>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">Sitio web realizado por <i>G&K websites</i>.</p>
								</footer>
