							<!-- Search -->
								<!--
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>
								-->

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Inicio</a></li>
										<li><a href="trayectoria.html">Trayectoria</a></li>
										<li><a href="">Investigación</a></li>
										<li><a href="">Posts</a></li>
									</ul>
								</nav>
								
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Hablemos</h2>
									</header>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">contacto@labarca-rector.cl</a></li>
										<li class="fa-phone">(000) 000-0000</li>
										<li class="fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">Realizado por <i>G&K websites</i>.</p>
								</footer>